.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: var(--color-3);
} 

.nav-pills .nav-link:hover.active, .nav-pills .show>.nav-link:hover{
    background-color: var(--color-2);
}

.nav-pills .nav-link {
    border-radius: .25rem;
    color: #2D3039;
    font-weight: 500;
    border-radius: 50rem!important;
    transition: all 0.2s linear ;
    margin-right: .5rem;
}

.nav-pills .nav-link:not(.active):hover{
    background-color: #f8f8f8;
}